{{>nav}}
<main>
    <div class="content-wrapper">
        <article>
            <header>
                <h1 id="heading">{{blog.title}}</h1>
                <div class="post-meta">
                    <span class="author">By ILuvNet.com</span>
                    <span class="author"><i class="fa-solid fa-eye"></i> {{blog.views}}</span>
                    <span class="date"><i class="fa-solid fa-clock"></i> {{formatDate blog.date}}</span>
                    <div class="tags">
                        {{#each blog.tags}}
                        <span class="tag">{{this}}</span>
                        {{/each}}
                    </div>
                </div>
            </header>
            <div class="post-content">
                  <p style="text-align: center;">Advertisement</p>

                <div id="lazy-script2" style="display: flex; justify-content: center">
                    <script type="text/javascript">
                        atOptions = {
                            'key': 'bd32f3227cd0a420e51115c9c3f3f12a',
                            'format': 'iframe',
                            'height': 250,
                            'width': 300,
                            'params': {}
                        };
                    </script>
                    <script  type="text/javascript"
                        src="//www.topcreativeformat.com/bd32f3227cd0a420e51115c9c3f3f12a/invoke.js"></script>
                </div>
                <p>{{blog.shortDescription}}</p>

                <img src="{{blog.image}}" alt="{{blog.title}}">
                <p style="text-align: center; font-size: 12px; color: #666;">All images are copyright to their respective owners.</p>
                {{#if blog.audio}}

                <div class="audio"
                    style="display: flex; flex-direction: column; justify-content: center; align-items: center; ">
                    <p>Listen to the audio</p>
                    <audio controls>
                        <source src="{{blog.audio}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>

                {{/if}}
                {{{blog.description}}}
                <blockquote>
                    <p>{{blog.shortDescription}}</p>
                </blockquote>

                <p>For more blog posts, please visit our page daily <a href="https://luvnet.com">luvnet.com</a>.</p>
            </div>
        </article>
        <aside class="sidebar">
            <h3>Related Posts</h3>
            <div class="related-posts">
                {{#each relatedBlog}}
                <div class="related-post">
                    <img src="{{this.image}}" alt="{{this.title}}">
                    <h4>{{this.title}}</h4>
                    <p>{{this.shortDescription}}</p>
                    <a href="/blogview/{{changeSpacesToDash this.title}}">Read More</a>
                </div>
                {{/each}}
            </div>
        </aside>
    </div>
    <div class="comments">
        <h2>Comments</h2>
        <div id="comments-container">
            {{#each blog.comments}}
            <div class="comment">
                <div class="comment-header">
                    <span class="comment-author">{{this.name}}</span>
                    <span class="comment-date">{{formatDate this.date}}</span>
                </div>
                <div class="comment-body">{{this.comment}}</div>
            </div>
            {{/each}}
        </div>

        <div id="comments-container"></div>
        <form id="comment-form">
            <input type="text" id="name-input" placeholder="Enter your name...">
            <textarea id="comment-input" placeholder="Enter your comment..."></textarea>
            <button data-id="{{blog._id}}" id="submit-btn-comment" type="submit">Submit</button>
        </form>
    </div>

</main>
{{>footer}}
<link rel="stylesheet" href="/style/blogView.css">
<script>
    const commentpost = document.getElementById("submit-btn-comment");

    commentpost.addEventListener("click", (event) => {
        event.preventDefault();
        const name = document.getElementById("name-input").value;
        const comment = document.getElementById("comment-input").value;
        const id = commentpost.getAttribute("data-id");
        const date = new Date();
        const dateFormat = new Intl.DateTimeFormat('default', { dateStyle: 'medium' });
        const formattedDate = dateFormat.format(date);
        if (name.trim().length === 0 || comment.trim().length === 0 || name.trim().length > 50 || comment.trim().length > 150) {
            swal({
                title: "Error!",
                text: "Name and Comment must not be empty and must be less than 50 characters for name and 150 characters for comment!",
                icon: "error",
            });
            return;
        }

        swal({
            title: "Success!",
            text: "Your comment is submited successfully!",
            icon: "success",
        });



        fetch("/comment-blog", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ name, comment, id }),
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.status) {
                    const commentContainer = document.getElementById("comments-container");
                    const commentElement = document.createElement("div");
                    commentElement.classList.add("comment");
                    commentElement.innerHTML = `
                        <div class="comment-header">
                            <span class="comment-author">${name}</span>
                            <span class="comment-date">${formattedDate}</span>
                        </div>
                        <div class="comment-body">${comment}</div>
                    `;
                    commentContainer.appendChild(commentElement);
                    document.getElementById("name-input").value = "";
                    document.getElementById("comment-input").value = "";
                } else {
                    swal({
                        title: "Error!",
                        text: "Name and Comment must not be empty!",
                        icon: "error",
                    });
                }


            });
    });

</script>

<style>
    @media only screen and (max-width: 600px) {
        h1 {
            font-size: 22px;
        }
        h3{
            font-size: 15px;
        }
        h2{
            font-size: 15px;
        }
    }

    .lazy-script2 {
        border: 1px solid #000000;
    }
</style>