{{>nav}}
<link rel="stylesheet" href="/style/newhome.css">

<div class="headline-one" style="margin-top: 25px; margin-bottom: 25px">
    <h1>Social Media Video and Video Downloader</h1>
    <p>ILuvnet supports all types of videos links</p>
</div>
<div class="card-container">
  <div class="card insta">
    <p class="heading"><i class="fa-brands fa-square-instagram"></i> Instagram Video Downloader</p>
   <p class="para">Download Instagram photos, videos, stories, and reels with our free and easy-to-use Instagram Video Downloader tool. Save your favorite Instagram content directly to your device in just a few clicks.</p>
    <div class="overlay"></div>
    <a href="/downloader/instagram-video-downloader">
     <button class="card-btn">Start Downloading</button>
    </a>
   
  </div>

  <div class="card twitter">
    <p class="heading"><i class="fa-brands fa-square-twitter"></i> Twitter Video Downloader</p>
    <p class="para">Effortlessly download Twitter videos with our powerful Twitter video downloader. Save viral tweets, GIFs, and video content from your favorite accounts or hashtags to enjoy offline.</p>
    <div class="overlay"></div>

      <a href="/downloader/twitter-video-downloader">
     <button class="card-btn">Start Downloading</button>
    </a>

  </div>

  <div class="card tiktok">
    <p class="heading"> <i class="fa-brands fa-tiktok"></i> TikTok Video Downloader</p>
    <p class="para">Unlock the world of TikTok videos with our TikTok video downloader. Download trending TikTok videos, dances, challenges, and more in just a few clicks. Save your favorite TikTok content for offline viewing.</p>
    <div class="overlay"></div>
     <a href="/downloader/tiktok-video-downloader">
     <button class="card-btn">Start Downloading</button>
    </a>
  </div>

  <div class="card fb">
    <p class="heading"> <i class="fa-brands fa-facebook"></i> Facebook Video Downloader</p>
    <p class="para">Download Facebook videos, live streams, and memories with our powerful Facebook video downloader. Save your favorite Facebook content, including friends' posts, viral videos, and more, to enjoy anytime.</p>
    <div class="overlay"></div>
     <a href="/downloader/facebook-video-downloader">
     <button class="card-btn">Start Downloading</button>
    </a>
  </div>
</div>


    <!--BLOG SECTION-->
    <section class="news" id="news">
        <div class="titletext">
            <h1><span>Some of our blogs</span></h1>
        </div>
        <div class="container">
          {{#each blogData}}
          
            <div data-id="{{this.title}}" class="blog">
              <div class="blog__header">
                <img src="{{this.image}}" alt="blog__image" class="blog__image" width="600">
              </div>
              <div class="blog__body">
                <span class="tag">{{this.tags}}</span>
                <h4>{{this.title}}</h4>
                <p>{{this.shortDescription}}</p>
                
              </div>
              
              <div class="blog__footer">
                <div class="user">
                  <img src="/icons/android-icon-48x48.png" alt="user__image" class="user__image">

                  <div class="user__info">
                    <h5>Iluvnet.com</h5>
                    <small>{{formatDate this.date}}</small>
                  </div>
                </div>
              </div>
            </div>
              {{/each }}
          </div>
    </section>


<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
    --primary: #111;
    --secondary: #A6D1E6;
    --bg: #F0F8FF;
    --border: #aaa;
}
* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth ;
}

.banner
{
    margin: 20px 0px;   
}
.banner swiper-container 
{
    width: 100%;
    height: 80vh;
  }

swiper-slide 
  {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

swiper-slide .imgbx img 
  {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%)
  }
swiper-slide .text
  {
    position: absolute;
    color: #fff;
    top: 70%;
  }
section
  {
    padding: 40px 30px;
  }
.news
{
    text-align: center;
}
.news .titletext
{
    text-align: center;
    font-size: 2em;
    padding-bottom: 40px;
}
.news .titletext span
{
    color: var(--secondary);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 2rem;
    gap: 2rem;
    background: var(--bg);
    border-radius: 20px;
    padding: 50px 0px;
  }
  
  img {
    max-width: 100%;
    object-fit: cover;
  }
  .blog :hover
  {
    color: blueviolet;
    cursor: pointer;
  }


  .blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #fff;
  }
  
  .blog__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  
  .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
    background: var(--secondary);
    color: #fff;
  }
  
  .tag + .tag {
    margin-left: .5em;
  }
  
  .blog__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  
  .blog__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
  }
  
  .user {
    display: flex;
    gap: .5rem;
  }
  
  .user__image {
    border-radius: 50%;
  }
  
  .user__info > small {
    color: #666;
  }

.events
{
    text-align: center;
}
.events .titletext
{
    text-align: center;
    font-size: 2em;
    padding-bottom: 40px;
}
.events .titletext span
{
    color: var(--secondary);
}
.jobs
{
    text-align: center;
}
.jobs .titletext
{
    text-align: center;
    font-size: 2em;
    padding-bottom: 40px;
}
.jobs .titletext span
{
    color: var(--secondary);
}   
.register
{
    text-align: center;
    border-top: 1px solid var(--border);
}
.register .titletext
{
    text-align: center;
    font-size: 2em;
    padding-bottom: 40px;
}
.register .titletext span
{
    color: var(--secondary);
}  
.form
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    background: var(--secondary);
    padding: 30px;
    width: 700px;
    margin: auto;
    border-radius: 20px;
    height: auto;
}
.form .formimg img
{
    width: 350px;
    border-radius: 25px;
}
.form .formcontent
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.form .formcontent input
{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
}
.strip
{
    background: var(--secondary);
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.strip h1
{
    color: #fff;
    font-weight: 300;
}
.strip .icons a{
    color: #fff;
}
.alert {
    position: fixed;
    top: 5%;
    right: 2%;
    background: var(--secondary);
    color: #fff;
    font-weight: 800;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
    width: 300px;
    height: 100vh;
    border-radius: 10px;
    transform: translateX(150%);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}
.alert .navigation1
{
    display: flex;
    flex-direction: column;
    gap: 70px;
    list-style: none;
    text-align: center;
}
.alert .navigation1 li a
{
    text-decoration: none;
    color: #fff;
}
.alert p {
    margin: 30px;
    letter-spacing: 1px;
}

.alert i {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
.register .form .btn
{
    margin-top: 10px;
    border: none;
    padding: 10px 30px;
    background: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: .5s;
}

@media(max-width: 911px){
  
    .top .search .hamburger
    {
        display: block;
    }   
    .register .form
    {
        margin: 0 0;
    }
    swiper-slide .imgbx img {
        height: 100vh;
    }
    .top .search{
        display: flex;
        justify-content: space-between;
    }
    .top
    {
        position: sticky;
        top: 0;
        z-index: 2;
        background: #fff;
        width: 100%;
    }
    .banner
    {
    margin: 0px 0px;   
    }
    .form
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
</style>

{{>footer}}


<script>

  const blog = document.querySelectorAll('.blog')

  blog.forEach((blog) => {
    blog.addEventListener('click', () => {
      const id = blog.getAttribute('data-id')
       let query = id.replace(/-/g, '@').replace(/\?/g, 'qmark').replace(/ /g, '-')
      window.location.href = `/blogview/${query}`
    })
  })


</script>